div(ng-controller="RestaurantController")
	div
		a(href="#!/restaurantes").btn #[span.fa.fa-chevron-left] Volver al listado
	form#restaurantEdit(ng-submit="save()")
		.row
			.input-field
				input(type="text",ng-model="restaurante.nombre",value="{{restaurante.nombre}}")
				label Nombre
			.input-field
				input(type="tel",ng-model="restaurante.telefono",value="{{restaurante.telefono}}")
				label Teléfono
			.input-field
				textarea.materialize-textarea(ng-model="restaurante.direccion",value="{{restaurante.direccion}}")
				label Dirección
		div
			.row(ng-repeat="dia in restaurante.horarios | orderBy: id ")
				.input-field
					input(type="checkbox", value="{{$index}}", ng-checked="dia.checked==true", ng-change="updateHorario()", ng-model="restaurante.horarios[$index]['checked']", id="{{$index+dia.nombre}}")
					label(for="{{$index+dia.nombre}}") {{dia.nombre}}
				.input-field
					div(ng-show="dia.checked")
						table.bordered.responsive-table
							tbody(id="horarios_{{$index}}")
								tr(ng-repeat="horario in dia.horarios")
									td
										.input-field
											.p5
												input(type="text", name="", ng-timepicker, ng-model="dia.horarios[$index].apertura")
												label Apertura
									td
										.input-field
											.p5
												input(type="text", name="", ng-timepicker, ng-model="dia.horarios[$index].cierre")
												label Cierre
									td
										.input-field
											.p5
												a(href="javascript:void(0)" ng-click="removeHorario($parent.$index,$index)") Eliminar
						button.btn.light-blue.darken-4.mt20(ng-click="addHorario($index)", type="button") Agregar #[span.fa.fa-plus]
		.mt20
			button.btn(type="submit") Guardar #[span.fa.fa-hdd-o]